<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
       
        <div class="container">
            <div class="nav-con">
                <div class="logo">
                    <a href="#">Workout</a>
                </div>
                <ul class="menu">
                    <li><a href="/member/member">Home</a></li>
                    <li><a href="/member/logout" class="text-light text-end">Logout</a></li>
                    
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="hero">
        <div class="row bg-primary bg-gradient p-4">
            <h1 class=" text-light text-center">
                ยินดีต้อนรับ <%=locals?.username?username:""%> 
                
            </h1>
        </div>
        <div class="container">
            <div class="hero-con">
                <h1>WORK OUT</h1>
                <p>Discover your best self with personalized fitness plans and expert guidance.</p>
                <a href="/levelprogram/level" class="hero-btn">Get Started</a>
            </div>
        </div>
    </section>

    <section class="blog">
        <div class="container">
            <div class="blog-con">
                <div class="card-img bg1"></div>
                <h3>Get BMI</h3>
                <!--<p>Calculate your BMI and start your fitness journey.</p>-->
                <a href="/bmi" class="program-btn">Learn More</a>
            </div>
            <div class="blog-con">
                <div class="card-img bg2"></div>
                <h3>Beginer Training</h3>
                <!--<p>Improve your cardiovascular health with a set of aerobic exercises that help you burn calories and boost endurance.</p>-->
                <a href="/levelprogram/easy" class="program-btn">Learn More</a>
            </div>
            <div class="blog-con">
                <div class="card-img bg3"></div>
                <h3>Intermediate Training</h3>
                <!--<p>Build muscle strength and tone your body with weight training and resistance exercises.</p>-->
                <a href="/levelprogram/normal" class="program-btn">Learn More</a>
            </div>
            <div class="blog-con">
                <div class="card-img bg4"></div>
                <h3>Advanced Training</h3>
                <!--<p>Burn fat quickly with high-intensity workouts that alternate between intense activity and rest periods.</p>-->
                <a href="/levelprogram/hard" class="program-btn">Learn More</a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div>
                    <h3>About Us</h3>
                    <p>We provide the best workout plans and tools to help you achieve your fitness goals.</p>
                </div>
                <div>
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="socials">
                    <h3>Follow Us</h3>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                © 2024 Workout Website. All Rights Reserved.
            </div>
        </div>
    </footer>
</body>
</html>