</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Programs - Fitness App</title>
    <link rel="stylesheet" href="/css/pro.css">
</head>
<body>
    <div class="programs-container">
        <h1>Select Your Training Program</h1>
        
        <div class="program-list">
            <!-- Easy -->
            <div class="program-card">
                <img src="/img/women-jogging-treadmill-gym_1150-16466 (1).jpg" alt="Cardio Program">
                <h2>Beginer</h2>
                
                <a href="/levelprogram/easy"class="program-btn">Select</a>
            </div>
            <!-- Strength Training -->
            <div class="program-card">
                <img src="https://i.pinimg.com/236x/93/d5/1c/93d51c712d67feec5ac1300cbf01d797.jpg" alt="Strength Training">
                <h2>Intermediate</h2>
                
                <a href="/levelprogram/normal"class="program-btn">Select</a>
            </div>
            <!-- Yoga -->
            <!--<div class="program-card">
                <img src="yoga.png" alt="Yoga Program">
                <h2>Yoga</h2>
                <p>Increase flexibility, balance, and relax your mind with a series of yoga poses and stretches.</p>
                <button onclick="goToBMIPage('Yoga')">Select</button>
            </div>!-->
            <!-- HIIT -->
            <div class="program-card">
                <img src="/img/f1dfa7d3888e257787d188f50c157947.jpg" alt="HIIT Program">
                <h2>Advanced</h2>
                
                <a href="/levelprogram/hard"class="program-btn">Select</a>
            </div>
        </div>
    </div>
    <script src="/js/pro.js"></script>
</body>
</html>