</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Programs - Fitness App</title>
    <link rel="stylesheet" href="/css/pro.css">
</head>
<body>
    <div class="programs-container">
        <h1>Select Your Training Program</h1>
        
        <div class="program-list">
            <!-- Easy -->
            <div class="program-card">
                <img src="/img/normalcar.jpg" alt="Cardio Program">
                <h2>Intermediate Cardio Training</h2>
                <p>Improve your cardiovascular health with a set of aerobic exercises that help you burn calories and boost endurance.</p>
                <a href="/levelprogram/normal/normal-car"class="program-btn">Select</a>
            </div>
            <!-- Strength Training -->
            <div class="program-card">
                <img src="/img/strnormal.jpg" alt="Strength Training">
                <h2>Intermediate Strength Training</h2>
                <p>Build muscle strength and tone your body with weight training and resistance exercises.</p>
                <a href="/levelprogram/normal/normal-str"class="program-btn">Select</a>
            </div>
            <!-- Yoga -->
            <!--<div class="program-card">
                <img src="yoga.png" alt="Yoga Program">
                <h2>Yoga</h2>
                <p>Increase flexibility, balance, and relax your mind with a series of yoga poses and stretches.</p>
                <button onclick="goToBMIPage('Yoga')">Select</button>
            </div>!-->
            <!-- HIIT -->
            <div class="program-card">
                <img src="/img/hiitnormal.jpg" alt="HIIT Program">
                <h2>Intermediate HIIT (High-Intensity Interval Training)</h2>
                <p>Burn fat quickly with high-intensity workouts that alternate between intense activity and rest periods.</p>
                <a href="/levelprogram/normal/normal-hiit"class="program-btn">Select</a>
            </div>
        </div>
    </div>
    <script src="/js/pro.js"></script>
</body>
</html>