<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>beginer_hiit</title>
  <link rel="stylesheet" href="/css/work.css">
</head>
<body>
  <nav>
    <div class="container">
        <div class="nav-con">
            <div class="logo">
                <a href="#">Workout</a>
            </div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
  <div class="hero">
    <h1>Beginer Training</h1>
    <h2>HIIT</h2>
    <div class="exercise">
      <h3>25 MIN FULL BODY HIIT for Beginners</h3>
      <p>No Equipment - No Repeat Home Workout</p>
      <div class="ex1">
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/cbKkB3POqaY" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        <div class="description">
          <h3>คำอธิบาย :</h3>
          <p>วิดิโอนี้เป็นโปรแกรมออกกำลังกายเบิร์นไขมันแบบต่อเนื่องสำหรับผู้เริ่มต้น แนะนำให้คุณวอร์มร่างกายทุกครั้งก่อนออกกำลังกาย</p>
        </div>
      </div>
    </div>
    <div class="exercise">
      <h3>20 Min Low Impact HIIT Workout for Beginners & Fat Loss</h3>
      <p>No Repeat, No Jumping, Full Body</p>
      <div class="ex1">
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/8onIJiufMP8" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        <div class="description">
          <h3>คำอธิบาย :</h3>
          <p>วิดิโอนี้เป็นโปรแกรมออกกำลังกายเบิร์นไขมันแบบต่อเนื่องสำหรับผู้เริ่มต้น แนะนำให้คุณวอร์มร่างกายทุกครั้งก่อนออกกำลังกาย</p>
        </div>
      </div>
    </div>
    <h2>Workout</h2>
    <div class="head"><p>AMRAP for 45 minutes:</p></div>
    <ul>
      <li>HITT Workout</li>
      <li>For beginer</li>
      <li>Burn out</li>
    </ul>
    
    <h2>Cool-down</h2>
    <div class="head"><p>Stretch for 20-30 seconds for each muscle group.</p></div>
  </div>
</body>
</html>