<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>intermedate_cardio</title>
  <link rel="stylesheet" href="/css/work.css">
</head>
<body>
  <nav>
    <div class="container">
        <div class="nav-con">
            <div class="logo">
                <a href="#">Workout</a>
            </div>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
  <div class="hero">
    <h1>Intermediate Training</h1>
    <h2>Cardio</h2>
    <div class="exercise">
      <h3>Low impact, high intensity intermediate</h3>
      <p>home cardio workout</p>
      <div class="ex1">
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/Ba3qZjzPonI" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        <div class="description">
          <h3>คำอธิบาย :</h3>
          <p>วิดิโอนี้เป็นโปรแกรมออกกำลังกายคาดิโอสำหรับผู้เริ่มต้นที่สามารถเผาผลาญไขมันได้มีประสิทธิภาพ แนะนำให้คุณวอร์มร่างกายทุกครั้งก่อนออกกำลังกาย</p>
        </div>
      </div>
    </div>
    <div class="exercise">
      <h3>Intermediate Cardio workout</h3>
      <p>Start your own Body Project </p>
      <div class="ex1">
        <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/wLYeRlyyncY" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        <div class="description">
          <h3>คำอธิบาย :</h3>
          <p>วิดิโอนี้เป็นโปรแกรมออกกำลังกายคาดิโอสำหรับผู้เริ่มต้นที่สามารถเผาผลาญไขมันได้มีประสิทธิภาพ แนะนำให้คุณวอร์มร่างกายทุกครั้งก่อนออกกำลังกาย</p>
        </div>
      </div>
    </div>
    <h2>Workout</h2>
    <div class="head"><p>AMRAP for 60 minutes:</p></div>
    <ul>
      <li>For intermediate</li>
      <li>normal movement</li>
    </ul>
    
    <h2>Cool-down</h2>
    <div class="head"><p>Stretch for 20-30 seconds for each muscle group.</p></div>
  </div>
</body>
</html>